/*//////////////////////suma y resta//////////////////////*/
*{
    box-sizing: border-box;
}
.selection_conten{
    background-color: cornsilk;
    
    height: 1024PX;
}
.select{
    text-align: center;
}
.selection_conten h1{
    text-align: center;
}
.suma_resta{
    margin-top: 40px;
    /*background-image: url('img/images1.jpg');*/
    background-color: darkseagreen;
}
.caja_principal{
    display: flex;
}
.caja_principal_suma {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.caja_principal_resta {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.button_suma{
    margin-top: 10%;
}
.button_resta{
    margin-top: 10%;
}
.resultados{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.resultado{
   
}

/*//////////////////////pares y impares//////////////////////*/
.paridad_pareja{
    margin-top: 40px;
    background-color: cadetblue;
}
/*//////////////////////palindromo//////////////////////*/
.palindromo{
    margin-top: 40px;
    background-color: greenyellow;
}
/*//////////////////////romanos//////////////////////*/
.romanos{
    margin-top: 40px;
    background-color: lightcoral;
}